<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.documentsui.theme.black"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.documentsui" android:priority="1"/>

    <application android:label="@string/documentsui_overlay_black" android:hasCode="false"/>
</manifest>
